{% extends 'main.html' %}

{% block title %} Add TODO {% endblock title %}

{% block content %}

<h1 class="mt-5 mb-5 text-center">Update Task</h1>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <form method="post" action="{% url 'update' tasks.id %}">
                {% csrf_token %}
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input value="{{tasks.title}}" name="taskName" type="text" id="taskTitle" class="form-control" />
                    <label class="form-label" for="taskTitle">Task Title</label>
                </div>

                <!-- Message input -->
                <div class="form-outline mb-4">
                    <textarea value="hello" name="taskDescription" class="form-control" id="taskDescription"
                        rows="4">{{tasks.description}}</textarea>
                    <label class="form-label" for="taskDescription">Task Description</label>
                </div>

                <!-- Date Input -->
                <div class="form-outline mb-4">
                    <input class="form-control" value="{{ tasks.due|date:'Y-m-d' }}" name="taskDue" type="date"
                        id="taskDue">
                    <label class="form-label" for="taskDue">Due Date</label>
                </div>
  
                <div class="form-outline mb-4">
                    <label class="form-label" for="taskStatus">Task Status</label>
                    <select class="form-select" name="taskStatus" id="taskStatus">
                        <option {% if tasks.status == 'Awaiting' %}selected{% endif %} value="Awaiting">Awaiting</option>
                        <option {% if tasks.status == 'Process' %}selected{% endif %} value="Process">Process</option>
                        <option {% if tasks.status == 'Completed' %}selected{% endif %} value="Completed">Completed</option>
                    </select>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
            </form>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}